* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
}
a,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
input {
  outline: none;
}
.container {
  position: relative;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  width: 100%;
}
@media (min-width: 798px) {
  .container {
    max-width: 798px;
  }
}
@media (min-width: 1230px) {
  .container {
    padding: 0 30px;
    width: 1140px;
    max-width: unset;
  }
}
.none {
  display: none;
}
.overflow-hidden {
  overflow: hidden;
}
.section-heading {
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
  font-family: "tannenberg_fettregular";
  font-size: 25px;
  font-weight: 700;
  color: #c60f09;
  -webkit-text-stroke: 1px #fff;
  z-index: 2;
  text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000,
    0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
}
.section-heading::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: -2px;
  width: -webkit-calc(100% + 2px);
  width: -moz-calc(100% + 2px);
  width: calc(100% + 2px);
  height: 5px;
  background-color: #000;
  z-index: -1;
}
@media (min-width: 798px) {
  .section-heading {
    margin-bottom: 40px;
    font-size: 36px;
  }
  .section-heading::after {
    height: 7px;
  }
}
@media (min-width: 1230px) {
  .section-heading {
    margin-bottom: 50px;
    font-size: 52px;
  }
  .section-heading::after {
    bottom: 2px;
    height: 10px;
  }
}
.in-section-heading {
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
  font-family: "tannenberg_fettregular";
  font-size: 22px;
  font-weight: 700;
  color: #c60f09;
  -webkit-text-stroke: 1px #fff;
  z-index: 2;
  text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000,
    0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
}
.in-section-heading::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: -2px;
  width: -webkit-calc(100% + 2px);
  width: -moz-calc(100% + 2px);
  width: calc(100% + 2px);
  height: 5px;
  background-color: #000;
  z-index: -1;
}
@media (min-width: 798px) {
  .in-section-heading {
    margin-bottom: 40px;
    font-size: 32px;
  }
  .in-section-heading::after {
    height: 7px;
  }
}
@media (min-width: 1230px) {
  .in-section-heading {
    margin-bottom: 50px;
    font-size: 42px;
  }
  .in-section-heading::after {
    bottom: 1px;
    height: 70px;
  }
}
.filtr-text {
  font-family: "tannenberg_fettregular";
  text-transform: uppercase;
  color: #c60f09;
  -webkit-text-stroke: 1px #fff;
  text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000,
    0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
}
.header {
  position: relative;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  background-color: #000;
  text-align: center;
  z-index: 3;
}
@media (min-width: 798px) {
  .header {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (min-width: 1230px) {
  .header {
    padding-bottom: 100px;
  }
}
.nav {
  display: none;
}
@media (min-width: 798px) {
  .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.nav .nav_link {
  font-family: "tannenberg_fettregular";
  position: relative;
  font-size: 25px;
  color: #dadada;
  z-index: 2;
}
.nav .nav_link::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #c60f09;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}
.nav .nav_link:hover::after {
  width: 100%;
}
.nav_social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  color: #000;
  background-color: #fff;
  border: 2px solid transparent;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.social-link:last-child {
  margin-right: 0;
}
.social-link:hover {
  color: #dadada;
  background-color: #c60f09;
  border-color: #dadada;
}
.social-link:active {
  color: #000;
  background-color: #dadada;
  border-color: transparent;
}
.header-img {
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 1230px) {
  .header-img {
    width: 1140px;
  }
}
#filtr-logo {
  display: block;
  width: 100%;
  height: auto;
}
.about {
  padding: 40px 0;
  background-color: #fff;
  text-align: center;
}
@media (min-width: 798px) {
  .about {
    padding: 60px 0;
  }
}
@media (min-width: 1230px) {
  .about {
    padding: 100px 0;
  }
}
.about_content {
  text-align: center;
}
.about_story {
  padding-bottom: 30px;
}
@media (min-width: 798px) {
  .about_story {
    padding-bottom: 50px;
  }
}
@media (min-width: 1230px) {
  .about_story {
    padding-bottom: 100px;
  }
}
.text {
  text-align: left;
  font-size: 16px;
  margin-bottom: 15px;
}
.text:last-child {
  margin-bottom: 0;
}
@media (min-width: 798px) {
  .text {
    font-size: 28px;
  }
}
@media (min-width: 1230px) {
  .text {
    font-size: 36px;
  }
}
.about_people {
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 1230px) {
  .about_people {
    width: 850px;
    background-image: url(../img/main/main-bg.png);
    -moz-background-size: 100%;
         background-size: 100%;
    background-repeat: repeat;
    background-position: center;
  }
}
.about_people_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
     -moz-box-orient: vertical;
     -moz-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.about_people_row:last-child {
  margin-bottom: 0;
}
@media (min-width: 798px) {
  .about_people_row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about_people_row:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.about_people_photo {
  width: 290px;
  height: 390px;
}
@media (min-width: 1230px) {
  .about_people_photo {
    width: 400px;
    height: 500px;
  }
}
.people_photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.about_people_text {
  width: 400px;
}
.musician-name {
  margin-bottom: 15px;
  width: 290px;
}
.musician-name:last-child {
  margin-bottom: 15px;
}
@media (min-width: 798px) {
  .musician-name {
    margin-bottom: 0;
    width: unset;
  }
  .musician-name:last-child {
    margin-bottom: 0;
  }
}
footer {
  margin: 0 auto;
  padding-top: 50px;
  background-color: #000;
}
.footer_content {
  text-align: center;
}
.footer-img {
  margin: 0 auto;
  width: 200px;
  height: 200px;
}
.footer_contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .contact_link {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 25px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  z-index: 2;
}
footer .contact_link:hover {
  color: #c60f09;
}
footer .contact_link:active {
  color: #c60f09;
}
footer .contact_link::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}
footer .contact_link:hover::after {
  width: 100%;
}
.photo_content {
  padding: 40px 0;
  text-align: center;
}
@media (min-width: 798px) {
  .photo_content {
    padding: 60px 0;
  }
}
@media (min-width: 1230px) {
  .photo_content {
    padding: 100px 0;
  }
}
.photo-frame {
  display: block;
  width: 95px;
  height: 80px;
}
@media (min-width: 1230px) {
  .photo-frame {
    width: 336px;
    height: 236px;
  }
}
.live-photo {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.carousel-wrapper {
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1230px) {
  .carousel-wrapper {
    padding: 0 60px;
  }
}
#photo .owl-dot {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
  background-color: transparent;
  background-image: url(../img/main/mask.png);
  background-position: center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
       background-size: cover;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  margin: 5px;
}
#photo .owl-dot:hover {
  background-color: #d6d6d6;
}
@media (min-width: 1230px) {
  #photo .owl-dot {
    width: 40px;
    height: 40px;
  }
}
#photo .owl-dot.active {
  background-color: #c60f09;
}
#photo .owl-dot span {
  background-color: transparent;
}
.photo_content .carousel-wrapper .owl-dots .owl-dot:active,
.photo_content .carousel-wrapper .owl-dots .owl-dot:focus {
  outline: none;
}
#photo .owl-prev {
  display: none;
  position: absolute;
  margin: 0;
  top: 93.5px;
  left: 0;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;
  background-color: #d6d6d6;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
#photo .owl-prev:active,
#photo .owl-prev:focus {
  outline: none;
}
#photo .owl-prev:hover {
  background-color: #c60f09;
}
@media (min-width: 1230px) {
  #photo .owl-prev {
    display: block;
  }
}
#photo .owl-next {
  display: none;
  position: absolute;
  top: 93.5px;
  right: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;
  background-color: #d6d6d6;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
#photo .owl-next:active,
#photo .owl-next:focus {
  outline: none;
}
#photo .owl-next:hover {
  background-color: #c60f09;
}
@media (min-width: 1230px) {
  #photo .owl-next {
    display: block;
  }
}
.fa-chevron-left,
.fa-chevron-right {
  color: #c60f09;
}
.fa-chevron-left:hover,
.fa-chevron-right:hover {
  color: #fff;
}
#photo .owl-next:hover .fa-chevron-right {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}
#photo .owl-prev:hover .fa-chevron-left {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}
.hamburger-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
}
@media (min-width: 798px) {
  .hamburger-wrapper {
    display: none;
  }
}
#hamburger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 30px;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  cursor: pointer;
  z-index: 5;
}
#hamburger:hover {
  border-top: 5px solid #c60f09;
  border-bottom: 5px solid #c60f09;
}
#hamburger:active {
  border-top: 5px solid #d6d6d6;
  border-bottom: 5px solid #d6d6d6;
}
#hamburger:hover .middle-line {
  background-color: #c60f09;
}
#hamburger:active .middle-line {
  background-color: #d6d6d6;
}
.middle-line {
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
}
.nav-panel {
  display: block;
  position: fixed;
  right: -100%;
  top: 0;
  padding: 30px 15px 0 15px;
  width: 320px;
  height: 100vh;
  background-color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  z-index: 9;
}
@media (min-width: 798px) {
  .nav-panel {
    display: none;
  }
}
.nav-panel--active {
  right: 0;
}
/*# sourceMappingURL=main.css.map */