.photo_content {
  padding: 40px 0;
  text-align: center;

  // Медиазапрос для планшетов и выше
  @media (min-width: 798px) {
    padding: 60px 0;
  }

  // Медиазапрос для десктопов
  @media (min-width: 1230px) {
    padding: 100px 0;
  }
}

.photo-frame {
  display: block;
}

.live-photo {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel-wrapper {
  position: relative;
  align-items: center;

  // Медиазапрос для планшетов и выше
  @media (min-width: 798px) {
  }

  // Медиазапрос для десктопов
  @media (min-width: 1230px) {
    padding: 0 60px;
  }
}

#photo .owl-dot {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: transparent;
  background-image: url(../img/main/mask.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
  margin: 5px;

  &:hover {
    background-color: #d6d6d6;
  }

  // Медиазапрос для десктопов
  @media (min-width: 1230px) {
    width: 40px;
    height: 40px;
  }
}

#photo .owl-dot.active {
  background-color: #c60f09;
}

#photo .owl-dot span {
  background-color: transparent;
}

.photo_content .carousel-wrapper .owl-dots .owl-dot:active,
.photo_content .carousel-wrapper .owl-dots .owl-dot:focus {
  outline: none;
}

#photo .owl-prev {
  display: none;
  position: absolute;
  margin: 0;
  top: 93.5px;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #d6d6d6;
  transition: 0.3s;

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    background-color: #c60f09;
  }

  // Медиазапрос для десктопов
  @media (min-width: 1230px) {
    display: block;
  }
}

#photo .owl-next {
  display: none;
  position: absolute;
  top: 93.5px;
  right: 0;
  margin: 0;

  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #d6d6d6;
  transition: 0.3s;

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    background-color: #c60f09;
  }

  // Медиазапрос для десктопов
  @media (min-width: 1230px) {
    display: block;
  }
}

.fa-chevron-left,
.fa-chevron-right {
  color: #c60f09;

  &:hover {
    color: #fff;
  }
}

#photo .owl-next:hover .fa-chevron-right {
  transition: 0.3s;
  color: #fff;
}

#photo .owl-prev:hover .fa-chevron-left {
  transition: 0.3s;
  color: #fff;
}
